*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    overflow-x: hidden;
}
.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 500;
    color: #f1f8fe;
    padding: 1%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
}
.navbar a {
    text-decoration: none;
}
.blue {
    color: #1e8dd9;
    font-weight: bold;
}
.navbar-desktop {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    padding-right: 35px;
}
.navbar-desktop a {
    justify-content: end;
    text-decoration: none;
    color: #f1f8fe;
}
.navbar-burger {
    height: 30px;
    width: 30px;
    position: fixed;
    top: 1%;
    right: 6%;
    z-index: 2;
}
.burger-menu {
    margin-bottom: 5px;
    display: block;
    height: 5px;
    width: 30px;
    background-color: #f1f1f1;
}
.navbar-mobile {
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background-color: #2b2a2a;
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
}
ul {
    width: 100%;
}
li {
    margin: 50px;
    list-style-type: decimal-leading-zero;
    color: #0f5995;
}
li a {
    text-decoration: underline;
    color: #f1f8fe;
}
.presentation {
    height: 100vh;
    width: 100vw;
    background-color: #242424;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    position: absolute;
    left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f8fe;
    width: 30%;
}
.present {
    font-size: xx-large;
    font-weight: 600;
}
.name {
    font-size: xxx-large;
    color: #1e8dd9;
    font-weight: bold;
}
.Im {
    color: #1e8dd9;
}
.descript {
    font-weight: 200;
}
.more {
    text-decoration: none;
    height: 50px;
    font-size: 100%;
    padding: 2%;
    margin: 5%;
    margin-left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: #1e8dd9;
    color: #f1f8fe;
    border: none;
    border-radius: 8px;
    align-items: center;
    display: flex;
}
.links {
    position: absolute;
    width: 100%;
    align-items: center;
    display: flex;
}
.github {
    width: 50px;
    height: 50px;
    background-color: #1e8dd9;
    border: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.github img {
    width: 35px;
    height: 35px;
}
.logo-present {
    position: absolute;
    right: 10%;
}
.logo {
    width: 30vw;
    border-radius: 20%;
    border: solid 5px #0f5995;
}
.skills {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b3e42;
}
.skills-title {
    font-size: xxx-large;
    color: #f1f8fe;
}
.skills-grid {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 40%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f8fe;
    font-size: xx-large;
}
.projets {
    height: 100vh;
    width: 100vw;
    background-color: #242424;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f8fe;
    font-size: xxx-large;
    position: absolute;
    top: 8%;
}
.projets-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 80%;
    height: 70%;
    margin-top: 1%;
    grid-gap: 5%;
}
.projets-grid img {
    width: 100%;
    border-radius: 8px;
}
#github_projets {
    position: absolute;
    bottom: 6%;
}
.contact {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b3e42;
}
.form-contact {
    width: 50vw;
    height: fit-content;
}
#name {
    width: 45%;
    margin-right: 5%;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #242424;
    color: white;
}
#mail {
    width: 45%;
    margin-left: 5%;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #242424;
    color: white;
}
#message {
    margin-top: 5%;
    width: 100%;
    height: 50%;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #242424;
    color: white;
}
#send {
    margin-top: 5%;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #242424;
    color: gray;
    width: 100%;
}

@media (max-width: 769px) {
    .navbar-desktop {
        display: none;
    }
    .logo {
        display: none;
    }
    .text {
        width: 80%;
        padding: 20px;
    }
    .skills {
        align-items: normal;
    }
    .skills-grid {
        width: 80%;
        bottom: 10%;
        top: unset;
    }
    .projets-grid {
        grid-template-columns: unset;
        overflow: auto;
        height: 60%;
    }
    .form-contact {
        width: 80vw;
    }
    #name, #mail {
        width: 100%;
        margin-bottom: 5%;
        margin-left: 0%;
    }
  }